.advantages {
  width: $mobile-actual-width;
  padding: 37px $mobile-padding 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-actual-width;
    padding: 61px $tablet-padding 40px;
    background-image:
      image-set(
      url("../../img/advantages-clouds-tablet@1x.webp") type("image/webp") 1x,
      url("../../img/advantages-clouds-tablet@2x.webp") type("image/webp") 2x,
      url("../../img/advantages-clouds-tablet@1x.png") type("image/png") 1x,
      url("../../img/advantages-clouds-tablet@2x.png") type("image/png") 2x
    );
    background-repeat: no-repeat;
    background-position: right 166px;
    background-size: 768px 996px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-actual-width;
    padding: 144px $desktop-padding 100px;
    background: none;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: $desktop-width;
      height: 447px;
      top: -272px;
      left: 0;
      background-image:
        image-set(
        url("../../img/advantages-clouds-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/advantages-clouds-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/advantages-clouds-desktop@1x.png") type("image/png") 1x,
        url("../../img/advantages-clouds-desktop@2x.png") type("image/png") 2x
      );
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }

  span {
    width: 100%;

    @media (min-width: $desktop-width) {
      top: -29px;
    }
  }
}

.advantages__button-wrapper {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.advantages__button {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
