.advantage {
  box-sizing: border-box;
  width: 288px;
  background-color: $background-color-primary;
  border: 1px solid rgba(2, 102, 193, 0.1);
  padding: 81px 10px 19px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 8px;
    border: 1px solid $icon-color-additional;
    top: 19px;
    left: 50%;
    margin-left: -21px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
  }

  @media (min-width: $tablet-width) {
    max-width: 324px;
    padding: 103px 19px 28px;

    &::after {
      padding: 11px;
      top: 30px;
      margin-left: -24px;
    }

    &:last-child {
      padding: 101px 19px 35px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 380px;
    max-width: 380px;
    height: 328px;
    padding: 123px 19px 40px;

    &::after {
      padding: 14px;
      top: 39px;
      margin-left: -27px;
    }

    &:last-child {
      padding: 123px 20px 40px;
    }
  }

  &:first-child {
    @media (min-width: $desktop-width) {
      margin-left: 30px;
    }
  }

  h3 {
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 92%;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 16px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 18px;
      width: 100%;
    }
  }

  p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    width: 269px;
    margin-left: -1px;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 22px;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      max-height: 145px;
      overflow-y: scroll;
      scrollbar-width: none;
    }
  }

  p:not(:last-child) {
    margin-bottom: 10px;
  }

  br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--security::after {
    background-image: url("/__spritemap#sprite-security-view");
  }

  &--experience::after {
    background-image: url("/__spritemap#sprite-experience-view");
  }

  &--equipment::after {
    background-image: url("/__spritemap#sprite-equipment-view");
  }

  &--routes::after {
    background-image: url("/__spritemap#sprite-routes-view");
  }

  &--eco::after {
    background-image: url("/__spritemap#sprite-eco-friendly-view");
  }
}

.advantage:nth-child(3),
.advantage:nth-child(5) {
  h3 {
    margin-top: 1px;

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }
}

.advantage:nth-child(3) {
  padding-top: 80px;

  @media (min-width: $desktop-width) {
    padding-top: 123px;
  }
}
