.gallery-slider {
  width: 320px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.gallery-slider__wrapper {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 5px;
  }
}

.gallery-slider__slide {
  width: 158px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  @media (min-width: $tablet-width) {
    width: 253px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
  }
}

.gallery-slider__image {
  width: 158px;
  height: 266px;

  @media (min-width: $tablet-width) {
    width: 253px;
    height: 418px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: 463px;
  }

  img {
    height: 100%;
  }

  &--small{
    &:first-child {
      height: 135px;

      @media (min-width: $tablet-width) {
        height: 209px;
      }

      @media (min-width: $desktop-width) {
        height: 233px;
      }
    }

    &:last-child {
      height: 125px;

      @media (min-width: $tablet-width) {
        height: 202px;
      }

      @media (min-width: $desktop-width) {
        height: 223px;
      }
    }
  }
}
