.header {
  background-color: $background-color-secondary;
  position: relative;
  color: $text-color-secondary;
}

.header__wrapper {
  background-color: $background-color-secondary;
  width: $mobile-actual-width;
  padding: $mobile-padding;
  padding-bottom: 13px;
  margin: 0 auto;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 142px;
  grid-template-rows: 42px auto;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    width: $tablet-actual-width;
    padding: 20px $tablet-padding;
    grid-template-columns: 1fr 142px 1fr;
    grid-template-rows: auto;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-actual-width;
    padding: 42px $desktop-padding;
    display: flex;
    justify-content: space-between;
  }
}

.header__logo-link {
  grid-column: 2/3;
  grid-row: 1/2;
}

.header__logo {
  width: 142px;
  height: 42px;

  @media (min-width: $desktop-width) {
    margin: 0 32px;
  }
}

.header__phone {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-align: right;
  text-decoration: none;
  grid-column: 2/3;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-left: 128px;
    grid-column: 3/4;
    grid-row: 1/2;
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
    margin-left: 0;
  }
}

.header__logo-link,
.header__phone {
  color: $text-color-secondary;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
    opacity: 1;
    color: $text-color-primary;
  }

  &:active {
    opacity: 1;
    color: $active-color;
  }
}


.header__phone[aria-disabled="true"],
.header__logo-link[aria-disabled="true"] {
  color: $disabled-color;
}
