.slider-button {
  background-color: $button-color-primary;
  border: 1px solid $button-color-primary;

  &::after {
    content: "";
    position: absolute;
    height: 7px;
    width: 13px;
    top: 13px;
    right: 12px;
    background-color: $background-color-primary;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url("/__spritemap#sprite-slider-arrow-view");
  }

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    cursor: pointer;
    width: 35px;
    height: 33px;
  }

  &:hover {
    background-color: $background-color-primary;
    border: 1px solid $active-color;

    &::after {
      background-color: $active-color;
    }
  }

  &:focus {
    outline: none;
    background-color: $background-color-primary;
    border: 1px solid $background-color-primary;

    &::after {
      background-color: $active-color;
    }
  }

  &:active {
    background-color: $active-color;
    border: 1px solid $active-color;

    &::after {
      background-color: $background-color-primary;
    }
  }

  &:disabled {
    cursor: auto;
    background-color: $disabled-color;
    border: 1px solid $disabled-color;

    &::after {
      background-color: $background-color-primary;
    }
  }

  &--prev::after {
    transform: rotate(180deg);
  }
}
