.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  @media (min-width: $tablet-width) {
    max-width: 50%;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    gap: 14px;
  }
}

.social-list__link {
  width: 30px;
  height: 28px;
  display: block;

  @media (min-width: $desktop-width) {
    width: 29px;
  }

  &--vkontakte::after {
    width: 17px;
    height: 9px;
    top: 9px;
    left: 6px;
    mask-image: url("/__spritemap#sprite-vk-view");
  }

  &--ok::after {
    width: 11px;
    height: 15px;
    top: 6px;
    left: 9px;
    mask-image: url("/__spritemap#sprite-ok-view");
  }

  &--reddit::after {
    width: 16px;
    height: 15px;
    top: 6px;
    left: 7px;
    mask-image: url("/__spritemap#sprite-reddit-view");
  }
}
