.tours {
  position: relative;
  background-image:
    image-set(
      url("../../img/tour-clouds-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/tour-clouds-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/tour-clouds-mobile@1x.png") type("image/png") 1x,
      url("../../img/tour-clouds-mobile@2x.png") type("image/png") 2x
    );
  background-repeat: no-repeat;
  background-position: right 10px;
  background-size: 141px 595px;

  @media (min-width: $tablet-width) {
    background: none;

    &::after {
      content: "";
      position: absolute;
      width: 425px;
      height: 1630px;
      top: -92px;
      right: 0;
      background-image:
        image-set(
          url("../../img/tour-clouds-tablet@1x.webp") type("image/webp") 1x,
          url("../../img/tour-clouds-tablet@2x.webp") type("image/webp") 2x,
          url("../../img/tour-clouds-tablet@1x.png") type("image/png") 1x,
          url("../../img/tour-clouds-tablet@2x.png") type("image/png") 2x
        );
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      width: 602px;
      top: -126px;
      background-image:
        image-set(
          url("../../img/tour-clouds-desktop@1x.webp") type("image/webp") 1x,
          url("../../img/tour-clouds-desktop@2x.webp") type("image/webp") 2x,
          url("../../img/tour-clouds-desktop@1x.png") type("image/png") 1x,
          url("../../img/tour-clouds-desktop@2x.png") type("image/png") 2x
        );
    }
  }
}

.tours__wrapper {
  min-width: $mobile-actual-width;
  width: 70%;
  padding: 38px $mobile-padding 20px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 60px $tablet-padding 40px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-actual-width;
    padding: 123px $desktop-padding 100px;
  }
}

.tours__title {
  margin: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 80%;
  }
}

.tours__link {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: $text-color-primary;
  letter-spacing: 0.04em;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: fit-content;
  padding: 10px;
  padding-right: 28px;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 12px;
    width: 7px;
    top: 11px;
    right: 10px;
    background-color: $text-color-primary;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url("/__spritemap#sprite-arrow-view");
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  &:hover {
    &::after {
      background-color: $icon-color-additional;
      opacity: 0.1;
    }
  }

  &:focus {
    &::after {
      background-color: $icon-color-additional;
      opacity: 1;
    }
  }

  &:active {
    &::after {
      background-color: $active-color;
      opacity: 1;
    }
  }
}

.tours__link[aria-disabled="true"] {
  &::after {
    background-color: $disabled-color;
    opacity: 1;
  }
}

.tours__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.tours__button-wrapper {
  display: flex;
  gap: 6px;
  margin-right: 1px;

  @media (min-width: $desktop-width) {
    margin-top: -2px;
  }
}
