.trainer {
  box-sizing: border-box;
  width: 288px;
  height: 356px;
  padding: 14px;
  background-color: $background-color-primary;
  border: 1px solid rgba(2, 102, 193, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  row-gap: 15px;

  @media (min-width: $tablet-width) {
    width: 211px;
    height: 386px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 354px;
    padding-top: 10px;
    row-gap: 14px;
  }

  h4 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    max-width: 145px;
    margin: 0;
    margin-top: 1px;
  }

  p {
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    margin: 0;
    max-height: 64px;
    overflow-y: scroll;
    scrollbar-width: none;

    @media (min-width: $tablet-width) {
      max-height: 96px;
    }

    @media (min-width: $desktop-width) {
      max-height: 64px;
    }
  }
}

.trainer__image {
  width: 260px;
  height: 200px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 2px;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}

.trainer__link {
  width: 22px;
  height: 22px;

  &::after {
    mask-image: url("/__spritemap#sprite-vk-view");
  }
}
