.trainer {
  box-sizing: border-box;
  width: 288px;
  padding: 15px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;

  @media (min-width: $tablet-width) {
    width: 211px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
  }

  h4 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    max-width: 155px;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* Number of lines */
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.trainer__image {
  width: 260px;
  height: 200px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}

.trainer__link {
  width: 22px;
  height: 22px;

  &::after {
    mask-image: url("/__spritemap#sprite-vk-view");
  }
}
