$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-actual-width: 290px;
$mobile-padding: 15px;
$tablet-actual-width: 678px;
$tablet-padding: 45px;
$desktop-actual-width: 1200px;
$desktop-padding: 120px;
$text-color-primary: #2d383f;
$text-color-secondary: #ffffff;
$text-color-additional: #0266c1;
$button-color-primary: #0266c1;
$button-color-dark: #2d383f;
$active-color: #1c3374;
$disabled-color: #999999;
$background-color-primary: #ffffff;
$background-color-secondary: #0266c1;
$icon-color-dark: #2d383f;
$icon-color-light: #ffffff;
$icon-color-additional: #0266c1;
